{% extends "base.html" %}

{% block title %}OLX Analitics | Report {% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/static/css/result.css" />
{% endblock %}


{% block content %}

<div class="container py-3">
  <div class="row">
    {% if report_apartment_average_price %}
    <div class="col-md-6">
      <div class="card" style="border-radius: 20px; border: 4px solid;">
        <div class="card-body p-3">
          <div class="d-flex">
            <h6 class="flex-grow-1">Average price of apartment (from last 7 days)</h6>
          </div>
          <div class="d-flex flex-column text-center mt-2 mb-2">
            <h6 class="display-4 mb-0 font-weight-bold">{{report_apartment_average_price}}</h6>
            <span class="small" style="color: #868B94">PLN</span>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if report_house_average_price %}
    <div class="col-md-6">
      <div class="card" style="border-radius: 20px; border: 4px solid;">
        <div class="card-body p-3">
          <div class="d-flex">
            <h6 class="flex-grow-1">Average price of houses (from last 7 days)</h6>
          </div>
          <div class="d-flex flex-column text-center mt-2 mb-2">
            <h6 class="display-4 mb-0 font-weight-bold">{{report_house_average_price}}</h6>
            <span class="small" style="color: #868B94">PLN</span>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="row">
    {% if report_apartment_average_price_per_sqr_m %}
    <div class="col-md-6">
      <div class="card" style="border-radius: 20px; border: 4px solid;">
        <div class="card-body p-3">
          <div class="d-flex">
            <h6 class="flex-grow-1">Average price per sqrt meter of apartment (from last 7 days)</h6>
          </div>
          <div class="d-flex flex-column text-center mt-2 mb-2">
            <h6 class="display-4 mb-0 font-weight-bold">{{report_apartment_average_price_per_sqr_m}}</h6>
            <span class="small" style="color: #868B94">PLN</span>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if report_house_average_price_per_sqr_m  %}
    <div class="col-md-6">
      <div class="card" style="border-radius: 20px; border: 4px solid;">
        <div class="card-body p-3">
          <div class="d-flex">
            <h6 class="flex-grow-1">Average price per sqrt meter of houses (from last 7 days)</h6>
          </div>
          <div class="d-flex flex-column text-center mt-2 mb-2">
            <h6 class="display-4 mb-0 font-weight-bold">{{report_house_average_price_per_sqr_m}}</h6>
            <span class="small" style="color: #868B94">PLN</span>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>


{% if report_apartment_data %}
<div class="container table-responsive">
<h2>Average prices for apartment in last 7 days</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Average price</th>
            <th scope="col">Average price per sqrt meter</th>
        </tr>
    </thead>
    <tbody>
    {% for data in report_apartment_data %}
    <tr>
        <th>{{data.date}}</th>
        <th>{{data.average_price}} PLN</th>
        <th>{{data.average_price_per_sqr_m}} PLN</th>
    </tr>
    </tbody>
    {% endfor %}
</table>
</div>
{% endif %}


{% if report_house_data %}
<div class="container table-responsive">
<h2>Average prices for houses in last 7 days</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Average price</th>
            <th scope="col">Average price per sqrt meter</th>
        </tr>
    </thead>
    <tbody>
    {% for data in report_house_data %}
    <tr>
        <th>{{data.date}}</th>
        <th>{{data.average_price}} PLN</th>
        <th>{{data.average_price_per_sqr_m}} PLN</th>
    </tr>
    </tbody>
    {% endfor %}
</table>
</div>
{% endif %}



{% endblock %}
