{% extends "base.html" %}

{% block title %}OLX Analitics | Search Apartment{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/static/css/forms.css" />
{% endblock %}


{% block content %}

<div class="container" id="header-container">
  <h1>Give us more details</h1>
</div>

<div class="container" id="form-container">
  <form method="POST" class="form-inline">
    {{ form.hidden_tag() }}
    <label for="formGroupExampleInput">Build type</label>
    <div class="form-group">
    {{form.build_type(class="form-control")}}
    </div>  
    <label for="formGroupExampleInput">Furnitures</label>
    <div class="form-group">
    {{form.furniture(class="form-control")}}
    </div>
    <label for="formGroupExampleInput">Rooms</label>
    <div class="form-group">
    {{form.rooms(class="form-control")}}
    </div>  
    <label for="formGroupExampleInput">Minumum area</label>
    <div class="form-group">
    {{form.area_min(class="form-control")}}
    </div>
    <label for="formGroupExampleInput">Maximum area</label>
    <div class="form-group">
    {{form.area_max(class="form-control")}}
    </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

</div>

{% endblock %}
