.table-image {
    width: 200px;
}

.table-image:hover{
    scale: 3;
}

.box {
    display: inline-block;
    padding: 10px;
    background-color: rgb(0, 171, 3);
    margin: 5px;
}

.box:hover {
    background-color: rgb(1, 209, 5);
}


.box h3 {
    font-weight: 600;
    font-size: 20px;
}

ul li {
    list-style-type: none;
}

#collapse-link {
    text-decoration: none;
    color: black;
}
