.table-image {
    width: 200px;
}

.table-image:hover{
    scale: 3;
}

.box {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    border-style: solid;
}

.card:hover, .box:hover {
    background-color: rgb(1, 209, 5);
}


.box h3 {
    font-weight: 600;
    font-size: 15px;
}

ul li {
    list-style-type: none;
}

#collapse-link {
    text-decoration: none;
    color: black;
}
